.mapboxgl-marker { 
  position: absolute; 
  top: 0; 
  left: 0; 
  will-change: transform; 
  } 
  

  .full-screen {
    width : 100%;
    height : 100%;
    padding : 0;
  }
  .btn-map-style{ 
  position: absolute; 
  left: 50%; 
  top : 5%;
  transform: translate(-50%, -50%); 
  z-index: 4;
  } 
  
  .btn-map-style button { 
  margin: 2px; 
  opacity: 0.8; 
  } 


.control-panel {
  position: absolute;
  overflow: scroll;
  right: 3%;
  max-width: 400px;
  width : 300px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin-top: 20px;
  margin-right: 5px;

  font-size: 12px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  z-index: 4;
  max-height: 60vh;
}

.radius-panel {
  position: absolute;
  top : 10%;
  right: 3%;
  max-width: 400px;
  width : 300px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  z-index: 4;
}

label {
  display: inline-block;
  width: 100px;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 4;
  pointer-events: none;
}

body {margin: 0; font-family: sans-serif; width: 100vw; height: 100vh; overflow: hidden;padding : 0;}
.tooltip {pointer-events: none; position: absolute; z-index: 4; font-size: 12px; padding: 8px; background: #000; color: #fff; min-width: 160px; max-height: 240px; }
.tooltip.interactive {pointer-events: all; background: #fcfcfc; color: #444; overflow-y: auto;}

.footer {
    background-color: white;
    border-top: 1px solid #E7E7E7;
    
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    opacity : 0.8;
    
}
.footer div{
  display: inline;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
}

.ui.container.layers-box{
  width: 300px;
  z-index: 4;
}
.container-box{
  position: fixed; 
  top: 60px; 
  left: 10px; 
  display: inline-block;
   height: 70%;
   background: rgba(255, 255, 255, 0.7);
   z-index: 4;
   width: 300px;
   overflow: auto;
}

.layers-box{
  position: fixed; 
  top: 80px; 
  left: 10px; 
  display: inline-block;
   height: 60%;
   background: rgba(255, 255, 255, 0.5);
  overflow: auto;
  padding: 5px;
  z-index: 4;
  width: auto;
}

.layers-item-box{
  margin: 2px;
  overflow: auto;
}

.headers-fox{
  position: fixed;
}

.ui.icon.labeled.vertical.buttons.toolbox-button-bar button{
  width: 100%;
}



.mapboxgl-ctrl-top-right{
  top : 600;
  padding : 10;
  z-index : 17;
}

#deckgl-wrapper{
  z-index: 3;
  width : 100%;
  height: 100%;

}

#deckgl-overlay{
  z-index: 3;
  width : 100%;
  height: 100%;
}

.legend {
  display: inline;
}


.green1{
  background-color: rgba(0, 112, 0, 1)

}

.green2{
  background-color: rgba(35, 136, 35, 1)

}

.green3{
  background-color: rgba(96,136,0, 1)

}

.red1{
  background-color: rgba(255, 191, 0, 1)
  
}

.red2{
  background-color: rgba(255,129,0, 1)

}

.red3{
  background-color: rgba(210,34,45, 1)

}

.mapid-icon {
  position : absolute;
  left : 0px;
  top : 10px;
  margin : 5px;
  z-index: 9;
  width : 75px;
  height : 75px;
}

.setting-button{
  position: absolute;
  top : 0;
  right : 0;
  padding : 12px 24px 0 0;
}



.mapboxgl-popup {
  max-width: 400px;
  z-index: 9;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }


  /* For MapCorona */
  /*ADDED 2020-01-30*/
  .layer-info-corona {
    width : 100%;
    height : 30%;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    background-color: #E7E7E7;
   opacity: 0.8;
   transition: 0.5s;
   z-index: 6;
   
  }

  
  .setting-button-corona{
    position: absolute;
    top : 15px;
    right : 0;
    padding : 12px 24px 0 0;
  }

  .header-four {
    font-size : 1.2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;

    font-weight: 700;
    line-height: 1.2;
  }


  /*For LayerInfoAnalyzer.js*/
  .layer-info {
    width : 100%;
    height : auto;
    min-height: 10%;
    max-height : 30%;
    position: absolute;
    bottom: 0;
    /* background-color: #E7E7E7; */
    background-color:rgba(231, 231, 231, 0);
    opacity: 1;
    transition: 0.5s;
    z-index: 6;
   text-align: right;
   display : 'inline-block' ;
   overflow: auto;

  }
 
  .layer-info-hidden {
   width : 100%;
   max-height : 0;
   height: 0;
   transition: 0.5s;
   bottom: 0;
   position: relative;
   bottom: 0;
  }
  
  .search-box {    
    opacity: 1;
    position: fixed;
    right : 0;
    z-index : 7;
    margin-bottom: 10;
    bottom : 31% ;
    width: 100%;
  }



  .table-layer-info {
    background-color: #E7E7E7;
    opacity: 0.8;
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    overflow: auto;
    height : 30vh;
    /* height:300px; */
  }

/*Untuk Hannover*/
.hannover-control-panel {
  position: absolute;
  right: 0;
  top : 0;
  background: #2B6192;
  font-size: 12px;
  color: #FFF;
  z-index: 4;
  width : 25%;
  height: 100%;
  padding : 10px;
  font-family: Montserrat, Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

}

.content-image {
  margin-left : -10px;
}

.content-standard {
  font-size : 17px;
  margin : 2.5px;
  line-height: 1.5;
}
.index-navigator {
  position: absolute;
  background: rgba(0,0,0,0);
  bottom: 5px;
  right : 5px;
  padding : 5px;
  width : 100%;
  text-align: center;
  margin: 5px;
  font-size: 18px;
}

.button-index-next {
  background: #B6E55E 0% 0% no-repeat padding-box;
  border-radius: 50%;
  color : white;
  font-size : 20px;
  width : 50px;
  height : 50px;
  border : none;
  
}
.button-index-prev {
  background: #FFFFFF89 0% 0% no-repeat padding-box;
  border-radius: 50%;
  color : white;
  font-size : 20px;
  width : 50px;
  height : 50px;
  border : none;
  
}

.landing-page{
  z-index: 14;
  position: relative;
  padding :0;
  font-family: Montserrat, Lato,'Helvetica Neue',Arial,Helvetica,sans-;
  letter-spacing: 2px;
}

.landing-page br{
  margin : 5;
}
.landing-page-content {
  position: absolute;
  left : 10vw;
  z-index: 16;
  top : 30vh;
  max-width: 45vw;
  font-size: 30px;
  text-align: left;
  line-height: 1.3;
  word-wrap: break-word;
  color : white;
}

.landing-page-button{
  /* width : 500px;
  height : 97px; */
  padding : 15px;
  font-size: 20px;
  font-family: Montserrat, Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: 7.5px;
  color: #2B6192;
  margin-top : 20px;
  background-color: white;
  font-weight: 1000;
  letter-spacing: 1.25px;
}

.landing-page-modal{
  font-size: 24px;
  background-color: #2B6192;
  color : white;
  width: auto;
  padding : 20px;
  border-radius: 20px;
}

.landing-page-bg{
  height: 100%;
  width : 100vw;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent linear-gradient(270deg, #2B619200 0%, #225582A2 47%, #225582A7 48%, #1B4B76A2 84%, #194872 100%) 0% 0% no-repeat padding-box;
}

.content-title {
  font-size: 25px;
  line-height: 1.15;
  font-weight: 1000;

}